* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0 5% 0 5%;
  background-image: url("bg1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.title {
  margin: 5% 0 5% 5%;
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.title-text {
  width: 30%;
}
.big-text {
  font-size: 50px;
  color: white;
  margin-bottom: 2%;
}
.dot {
  color: limegreen;
}
.box {
  height: 100%;
  width: 100%;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);

  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  transition: transform 0.2s;
}

.quiz-select {
  height: 50%;
  margin-left: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}
a {
  width: 30%;
  text-decoration: none;
}
.image-container2 {
  height: 70%;
  width: 100%;
  background-image: radial-gradient(
    circle 691px at 23.3% 17.5%,
    rgba(241, 122, 59, 0.91) 0%,
    rgb(143, 111, 75) 72.3%
  );
  border-radius: 5px;
}
.image-container3 {
  height: 70%;
  width: 100%;
  background-image: linear-gradient(
    109.6deg,
    rgba(177, 173, 219, 1) 11.2%,
    rgba(245, 226, 226, 1) 91.1%
  );
  border-radius: 5px;
}
.image-container1 {
  height: 70%;
  width: 100%;
  background-image: linear-gradient(
    109.6deg,
    rgba(121, 203, 202, 1) 11.2%,
    rgba(119, 161, 211, 1) 91.1%
  );
  border-radius: 5px;
}
.box:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.app-desc {
  color: white;
}
.type {
  margin: 3% 3% 1% 3%;
  color: navy;
  font-size: 24px;
}
.text {
  margin: 3%;
  font: 14px;
  color: gray;
}
@media (max-width: 768px) {
  a {
    width: 100%;
    margin-bottom: 5%;
  }
  .quiz-select {
    /*flex-direction: row;*/
    flex-wrap: wrap;
    margin-top: 10%;
  }
}
@media (min-width: 768px) and (max-width: 700px) {
  a {
    width: 100%;
    margin-bottom: 5%;
  }
  .quiz-select {
    /*flex-direction: row;*/
    flex-wrap: wrap;
    margin-top: 20%;
  }
}
